<!DOCTYPE html>
<html>
  <head>
    <title>GoogleArtsCulture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&family=Roboto+Condensed&family=Noto+Sans+HK&family=Roboto:wght@100;300;400;600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&family=Syne+Mono&display=swap">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
